$blue-1: #E6F4FF;
$blue-2: #BAE0FF;
$blue-3: #91CAFF;
$blue-4: #69B1FF;
$blue-5: #4096FF;
$blue-6: #1677FF;
$blue-7: #0958D9;
$blue-8: #003E83;
$blue-9: #002C8C;
$blue-10: #001D66;


$error-1: #FFF0F0;
$error-2: #FFD9D9;
$error-3: #FFA8A8;
$error-4: #FF7878;
$error-5: #FF4D4D;
$error-6: #FF1A1A;
$error-7: #D40D0D;
$error-8: #A80707;
$error-9: #820014;

$warning-9: #ea2700;

$success-3: #F0F9EB;
$success-4: #E1F3D8;
$success-5: #67C23A;

$black-dark: #1E1E1E;
$black-light: #3A3A3A;

$border-grey: #D3D3D3;
$border-grey-hover: #aaaaaa;

$font-size-large: 14pt;
$font-size-base: 12pt;
$font-size-small: 9pt;

$font-family-base: "思源黑体 CN";

